{% extends "base.html" %}
{% block title %}Редактирование категории {{category_data.title}} {% endblock %}
{% block content %}
<form id="formElem">
  <p id="editingDone"></p>
  <label for="title">Название:</label><br>
  <input type="text" name="title" id="titleForm" value="{{category_data.title}}"><br>

  <label for="description">Описание:</label> <br>
  <textarea name="\" id="descForm" cols="30" rows="10">{{category_data.desc}}</textarea><br>
<input type="submit">
</form>

<script>
  document.getElementById('formElem').addEventListener("submit", (event) => {
    console.log('!!!!');
    const title = document.getElementById("titleForm").value;
    const desc = document.getElementById("descForm").value;
    event.preventDefault();
    const url = "/categories/edit/post?id={{category_data.id}}";
    fetch(url, {
      method: "POST",
      body: JSON.stringify({ "title": title, "desc": desc })
    }).then(() => {
      document.getElementById("editingDone").innerHTML = "Изменено!"
    })
  })
</script>
{% endblock %}