<style>
    .forecast {
        margin: 0;
        padding: 0.3rem;
        background-color: #eeeeee;
    }
    
    .forecast > h1,
    .day-forecast {
        margin: 0.5rem;
        padding: 0.3rem;
        font-size: 1.2rem;
    }
    
    .day-forecast {
        background-color: #caebd2;
    }
    
    .day-forecast > h2,
    .day-forecast > p {
        margin: 0.2rem;
        font-size: 1rem;
    }
    #rcorners4 {
        border-radius: 10px;
        background: #8ba592;
        padding: 1px; 
        margin-left: 2px;
      }  
</style>